<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qyx.whattoeat.restaurant.mapper.RestaurantMapper">

    <insert id="insert" parameterType="com.qyx.whattoeat.restaurant.model.Restaurant"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO restaurant (name, address, tags, avg_cost)
        VALUES (#{name}, #{address}, #{tags}, #{avgCost})
    </insert>

</mapper>